.child-category{
	border: 1px dotted #c7c7c7;
	border-radius: 2px;
	margin-top: 15px;
}
.userinfo-block .del {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.userinfo-block .del:hover{
	background-color: #d43f3a;
	border-color: #d43f3a;
}
.userinfo-block .del:focus{
	background-color: #d9534f;
	border-color: #d43f3a;
};