@charset 'utf-8';

/*
 * Copyright 2015 Qiyi.com All rights reserved.
 * 
 * file: listpagination.css
 * path: css-src/
 * description: css of listpagination module
 * author: listpagination,lichunping@qiyi.com
 * date: 2015-1-28
 */

/* 每个css都需要一个命名空间，即模块名 */
.wrapper-listpagination {
    width: 100%;
    margin: 0 auto;
}
.container-listpagination {
    border: solid 1px silver;
    width: 750px;
    height: 600px;
    margin: 0px auto;
}
.navi-listpagination {
    margin-top: 30px;
    margin-left: 85px;
}
.show-listpagination {
    width: 680px;
    height: 410px;
    margin-left: 40px;
    margin-top: 10px;
}
#pager {
    width: 680px;
    margin-left: 150px;
}
#ContainerList {
    font-size: 14px;
    margin-left: 160px;
}
#ImageListContainer li a {

    /*opacity: 1*/
}
#ImageListContainer li a img {
  border-radius: 5px;
}
#ImageListContainer li a:hover {
    opacity: 0.5;
}
#ImageListContainer li a:active {
    opacity: 0.2;
}