@charset 'utf-8';

/*
 * Copyright 2014 Qiyi.com All rights reserved.
 * 
 * file: simple.css
 * path: css-src/
 * description: css of simple module
 * author: Smyle,lichunping@qiyi.com
 * date: 2014-3-26
 */

/* 每个css都需要一个命名空间，即模块名 */
.wrapper-simple {
    width: 90%;
    margin: 0 auto;
}

.wrapper-simple .table, .wrapper-simple th{
    text-align: center;
}

.wrapper-simple .table thead tr {
    
}
.wrapper-simple .table tbody tr:nth-child(even) {
    background-color: rgb(240, 240, 238);
}
.wrapper-simple .table tbody tr:hover {
    background-color: rgb(255, 255, 233);
}
.wrapper-simple .alarm {
    color: #d14
}
.wrapper-simple .operation-row {
    padding-bottom: 10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

.wrapper-simple .updatetime-row {
    padding-left:20px;
}