@charset 'utf-8';

/*
 * Copyright 2017 Qiyi.com All rights reserved.
 *
 * file: stepProgressBar.css
 * path: css-src/
 * description: css of StepProgressBar module
 * author: shihuanyu
 * date: 2017-5-16
 */

#stepProgressBarContainer {
    margin: 50px 0;
}

.step-process-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style: none;
}

.step-process-bar li {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

.step-process-bar li span.step {
    position: relative;
    display: block;
    margin: 0 auto 20px;
    color: #ccc;
    font-size: 14px;
    width: 32px;
    height: 32px;
    border: 6px solid #e4e4e7;
    line-height: 20px;
    background-color: #e4e4e7;
    border-radius: 50%;
}

.step-process-bar li span.order {
    background-color: #fff;
}

.step-process-bar li span.step i {
    font-style: normal;
    font-size: 12px;
}

.step-process-bar li span.step i.order {
    display: inline-block;
}

.step-process-bar li.active span.step i.order {
    display: none;
}

.step-process-bar li span.step i.glyphicon-ok {
    display: none;
}

.step-process-bar li.active span.step i.glyphicon-ok {
    display: inline-block;
}

.step-process-bar li.active span.step i.left-dot,
.step-process-bar li.active span.step i.right-dot {
    position: absolute;
    top: 7px;
    height: 6px;
    width: 8px;
    background-color: #68a305;
}

.step-process-bar li.active span.step i.left-dot {
    left: -7px;
}

.step-process-bar li.active span.step i.right-dot {
    right: -7px;
}

.step-process-bar li:first-child.active span.step i.left-dot,
.step-process-bar li:last-child.active span.step i.right-dot {
    display: none;
}


.step-process-bar li span.step-desc {
    color: #ccc;
    font-size: 15px;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

.step-process-bar li span.link {
    position: absolute;
    left: 50%;
    top: 10px;
    height: 12px;
    width: 100%;
    border: 3px solid #e4e4e7;
    background-color: #e4e4e7;
    z-index: -1;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
}

.step-process-bar li.active span.step {
    color: #fff;
    background-color: #68a305;
}

.step-process-bar li.active span.step-desc {
    color: #666;
}

.step-process-bar li.active span.link {
    background-color: #68a305;
}

.step-process-bar li:last-child span.link {
    display: none;
}

.step-process-bar.editable li span.step {
    cursor: pointer;
}
