@charset 'utf-8';

/*
 * Copyright 2015 Qiyi.com All rights reserved.
 * 
 * file: tree.css
 * path: css-src/
 * description: css of tree module
 * author: wangzhaohui,wangzhaohui@qiyi.com
 * date: 2015-07-14
 */

/* 每个css都需要一个命名空间，即模块名 */
.wrapper-tree {
    width: 90%;
    margin: 0 auto;
}
.wrapper-tree .search-box {
	position: relative;
}
.wrapper-tree .searched-node-num {
	position: absolute;
	bottom: -18px;
}

.icon {
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
}
.icon:hover {
	background-size: 30px 30px;
}
.icon1{
	background-image: url(../../data/tree/icon/icon_1.png);
}
.icon2{
	background-image: url(../../data/tree/icon/icon_2.png);
}
.icon3{
	background-image: url(../../data/tree/icon/icon_3.png);
}
.icon4{
	background-image: url(../../data/tree/icon/icon_4.png);
}
.icon5{
	background-image: url(../../data/tree/icon/icon_5.png);
}
.icon6{
	background-image: url(../../data/tree/icon/icon_6.png);
}
.icon7{
	background-image: url(../../data/tree/icon/icon_7.png);
}
.icon8{
	background-image: url(../../data/tree/icon/icon_8.png);
}
.icon9{
	background-image: url(../../data/tree/icon/icon_9.png);
}
.icon10{
	background-image: url(../../data/tree/icon/icon_10.png);
}
.icon11{
	background-image: url(../../data/tree/icon/icon_11.png);
}
.icon12{
	background-image: url(../../data/tree/icon/icon_12.png);
}
.icon13{
	background-image: url(../../data/tree/icon/icon_13.png);
}
.icon14{
	background-image: url(../../data/tree/icon/icon_14.png);
}
.icon15{
	background-image: url(../../data/tree/icon/icon_15.png);
}
/*自定义主题*/
.wrapper-tree .tree-body {
	background: #2a2a2a;
	color: #999;
}
.tv-program-grid .ui-jqgrid table tr td{
	color: #999;
}
.wrapper-tree .line {
	border-top-color: #999;
}
.wrapper-tree .search-box .form-control {
	color: #999;
	background-color: transparent;
}
.wrapper-tree .search-box .form-control:focus {
    border-color: #699f00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(105, 158, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(105, 158, 0, 0.6);
}
.wrapper-tree .tv-program-grid .ui-state-default {
	background: #3a3a3a url('');
	color: #999;
}
.wrapper-tree .tv-program-grid .ui-widget-content {
	background: #151515 url('');
	color: #699f00;
}
.wrapper-tree .tv-info .tv-logo {
	height: 45px;
}

/* cuctom plugin 'rowmenu' */
.delete-btn {
	display: none;
	width: 20px;
	height: 20px;
	background: url('../../data/tree/icon/delete_btn.png') no-repeat center;
	position: absolute;
	right: 0;
	z-index: 10;
	cursor: pointer;
}
.delete-btn-hovered {
	display: inline-block;
}