@charset 'utf-8';

.wrapper-slider .slider-container {
    width: 500px;
    height: 350px;
    border:1px solid silver;
}

.wrapper-slider .slider-style {
    margin-left:50px;
    width:400px;
}

.wrapper-slider .panel-body {
    margin-left:50px;
    width:400px;
    height: 180px;
    border:1px solid silver;
}

.wrapper-slider form {
    color: black;
}

.wrapper-slider .special-class {
    overflow: hidden;
}

.wrapper-slider .td-style {
    margin-left: 10px;
}
.wrapper-slider .picture-style {
    float:left;
    position:relative;
    top:15px;
    left: -17px;
}

.wrapper-slider #sliderText {
    width:55px;
    height: 30px;
}
